VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_MAX_TRIP_YEARS=2
VITE_GEOAPIFY_API_KEY=
AERODATABOX_BASE_URL=https://aerodatabox.p.rapidapi.com/
AERODATABOX_RAPIDAPI_HOST=aerodatabox.p.rapidapi.com
AERODATABOX_RAPIDAPI_KEY=
